.element {
   margin-left: 25%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0ffff;
    color: #000;
    justify-content: center;
}

header {
    background-color: #008080;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #00ced1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #008080;
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    background-color: #20b2aa;
    color: #333;
}