{% extends 'base_tasks.html' %}

{% block content %}

<h2>Search Task List</h2>
<form action="" method="GET">
    <input type="text" name="query" placeholder="Search by Title">
    <input type="submit">
</form>

<h3>List of the searched tasks: </h3>
<p>Search results for "{{ query }}"</p>
{% if query %}
<ol>
    {% for task_object in task_object_search_list %}
        <li>
            <p><b>Title:</b> {{ task_object.title }}</p>
            <p><b>Creation Date:</b> {{ task_object.created_at }}</p>
            <p><b>Deadline:</b> {{ task_object.deadline }}</p>
            <p>
                <b>Priority:</b> {{ task_object.get_priority_display }}
                <b>Status:</b>
                {% if pending == True %} Pending
                {% else %} Completed
                {% endif %}
            </p>
            {% if task_object.pending == True %}
                <a href='{% url "tasks:mark_completed_view" slug=task_object.slug %}'>Mark As Completed</a> ||
            {% else %}
                <a href='{% url "tasks:mark_pending_view" slug=task_object.slug %}'>Mark As Pending</a> ||
            {% endif %}
            <a href='{% url "tasks:task_detail_view" slug=task_object.slug %}'>Details</a> ||
            <a href='{% url "tasks:task_update_view" slug=task_object.slug %}'>Update</a> ||
            <a href='{% url "tasks:task_delete_view" slug=task_object.slug %}'>Delete</a><br>
        </li>
    {% endfor %}
</ol>
{% endif %}


<h3>List of all the tasks: </h3>
<ol>
    {% for task_object in task_object_list %}
        <li>
            <p><b>Title:</b> {{ task_object.title }}</p>
            <p><b>Creation Date:</b> {{ task_object.created_at }}</p>
            <p><b>Deadline:</b> {{ task_object.deadline }}</p>
            <p>
                <b>Priority:</b> {{ task_object.get_priority_display }}
                <b>Status:</b> 
                {% if pending == True %} Pending
                {% else %} Completed
                {% endif %}
            </p>
            {% if task_object.pending == True %}
                <a href='{% url "tasks:mark_completed_view" slug=task_object.slug %}'>Mark As Completed</a> ||
            {% else %}
                <a href='{% url "tasks:mark_pending_view" slug=task_object.slug %}'>Mark As Pending</a> ||
            {% endif %}
            <a href='{% url "tasks:task_detail_view" slug=task_object.slug %}'>Details</a> ||
            <a href='{% url "tasks:task_update_view" slug=task_object.slug %}'>Update</a> ||
            <a href='{% url "tasks:task_delete_view" slug=task_object.slug %}'>Delete</a><br>
        </li>
    {% endfor %}
</ol>



{% endblock content %}