{% extends "base_tasks.html" %}

{% block content %}
<h2>Task Details</h2>
<h3>Title: {{ task_object.title }}</h3>
<h3>Created On: {{ task_object.created_at }}</h3>
<h3>Description: {{ task_object.description }}</h3>
<h3>Priority: {{ task_object.get_priority_display }}</h3>
<h3>Deadline: {{ task_object.deadline }}</h3>
<h3>Last Updated On: {{ task_object.updated_at }}</h3>
<h3>Pending Status: {{ task_object.pending }}</h3>

{% if task_image_list %}
  <h3>Images:</h3>
  <div style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
    {% for task_image in task_image_list %}
      <div style="margin-right: 10px;">
        <img src="{{ task_image.image.url }}" width="150px" height="100px" alt="Task Image">
      </div>
    {% endfor %}
  </div>
{% endif %}

<br>
{% if task_object.pending == True %}
    <a href='{% url "tasks:mark_completed_view" slug=task_object.slug %}'>Mark As Completed</a> ||
{% else %}
    <a href='{% url "tasks:mark_pending_view" slug=task_object.slug %}'>Mark As Pending</a> ||
{% endif %}
<a href='{% url "tasks:task_detail_view" slug=task_object.slug %}'>Details</a> ||
<a href='{% url "tasks:task_update_view" slug=task_object.slug %}'>Update</a> ||
<a href='{% url "tasks:task_delete_view" slug=task_object.slug %}'>Delete</a>

{% endblock content %}